<app-home-container
  image="assets/images/kitchen-bg.jpeg"
  title="Esqueceu sua senha?"
  subtitle="Insira o código de verificação enviado para o seu e-mail e crie uma nova senha."
>
  <form class="grid gap-4" [formGroup]="form">
    <app-text-input [control]="form.controls.code" label="Código" />
    <app-password-input [control]="form.controls.password" />
    <app-password-input [control]="form.controls.confirmPassword" label="Confirmar nova senha" />
    
    <app-button-flat
      label="Redefinir senha"
      type="submit"
      [disabled]="form.invalid"
      (clickEvent)="submit()"
    />
  </form>
</app-home-container>