<mat-card>
  <mat-card-content>
    <div class="grid md:grid-cols-[auto_auto_1fr] gap-7">
      <app-photo-field [imageUrl]="client?.imageUrl" alt="foto de perfil" class="md:row-span-2" />
      <app-info-field label="Nome" type="text" [value]="client?.name" />
      <app-info-field label="E-mail" type="text" [value]="client?.email" />
      <app-info-field label="Telefone" type="text" [value]="client?.phone" />
      <app-info-field label="Mais informações" type="text" value="..." />
    </div>
  </mat-card-content>
</mat-card>

<!-- <app-client-products [clientId]="clientId" /> -->