<mat-sidenav-container class="h-full">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <img src="assets/images/logo.png" alt="logo" class="w-20 mx-auto">
    </mat-toolbar>

    <mat-nav-list>
      @for (link of links; track $index) {
        <a mat-list-item [routerLink]="link.url" routerLinkActive="active-link">
          <app-sidenav-link [icon]="link.icon" [label]="link.label" />
        </a>
      }
      <hr>
      <button mat-list-item (click)="logout()">
        <app-sidenav-link icon="logout" label="Sair" />
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    @if (isHandset$ | async) {
      <mat-toolbar color="primary">
        <button
          type="button"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <span>Kitchen Location</span>
      </mat-toolbar>
    }

    <!-- Content here -->
    <section class="p-4">
      <app-title />
      <router-outlet />
    </section>
    
  </mat-sidenav-content>
</mat-sidenav-container>
