<mat-card>
  <mat-card-content>
    <div class="grid md:grid-cols-[auto_auto_1fr] gap-7">
      <app-photo-field [imageUrl]="product?.imageUrl" alt="foto do produto" class="md:row-span-2" />
      <app-info-field label="Nome" type="text" [value]="product?.name" />
      <app-info-field label="Descrição" type="text" [value]="product?.description" />
      <app-info-field label="Estoque" type="text" [value]="product?.stock" />
      <app-info-field label="Mais informações" type="text" value="..." />
    </div>
  </mat-card-content>
</mat-card>

<!-- <app-product-products [productId]="productId" /> -->