<mat-card>
  <mat-card-content>
    <div class="grid md:grid-cols-4 gap-7">
      <app-info-field label="Código da compra" type="text" [value]="'#' + rent?.id" />
      <app-info-field label="Cliente" type="text" [value]="rent?.clientName" />
      <app-info-field label="Produto" type="text" [value]="rent?.productName" />
      <app-info-field label="Valor" type="currency" [value]="rent?.amount" />
      <app-info-field label="Data início" type="date" [value]="rent?.startDate" />
      <app-info-field label="Data final" type="date" [value]="rent?.endDate" />
      <app-info-field label="Mais informações" type="text" value="..." />
    </div>
    <app-timeline [events]="events" />
    <div class="flex justify-end">
      <app-button-flat label="Alterar status" />
    </div>
  </mat-card-content>
</mat-card>

<div class="grid gap-4 mt-8">
  <h2 class=" text-xl font-bold">Lista de produtos</h2>
  @for (product of products; track product.id) {
    <app-product-info [product]="product" />
  }
</div>