<div class="overflow-x-auto mt-4">
  <table mat-table class="w-max" matSort [dataSource]="dataSource">
    @for (item of columns; track $index) {
      <ng-container [matColumnDef]="item.key">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ item.label }}</th>
        @switch (item.type) {
          @default {
            <td mat-cell *matCellDef="let row">{{ getNestedValue(row, item.key) }}</td>
          }
        }
      </ng-container>
    }
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-zinc-200 cursor-pointer" (click)="rowClick.emit(row)"></tr>
    <tr *matNoDataRow>
      <td class="text-center py-4" [colSpan]="displayedColumns.length">Sem resultados</td>
    </tr>
  </table>
</div>
<mat-paginator #paginator
  [length]="totalItems"
  [pageIndex]="0"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20, 100]"
  (page)="onPageChange($event)"
/>